* {
    box-sizing: border-box;
}
  
img {
    max-width: 100%;
    vertical-align: top;
}

.gallery {
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: 66.6666666667%;
}

@media screen and (min-width: 600px) {
    .gallery {
        padding-top: 400px;
    }
}

.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
}

.gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.gallery__selector:checked + .gallery__img {
    opacity: 1;
}

.gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 3px #0be2f6;
}

@font-face {
    font-family: 'Bubbleboddy';
    src: url('./BubbleboddyNeue-Bold\ Trial.ttf') format('truetype');
    font-weight: normal;
}

.text {
    font-family: 'Bubbleboddy', sans-serif;
    font-size: 20vw;
    text-align: center;
    margin-bottom: -35px;
}

.botao1 {
width: 95%;
background-color: black;
color: white;
margin: 10px;
height: 3em;
}

@media (max-width: 780px) {

    .div_botao {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 6em;
        bottom: 100px;
    }

    .div_botao h3 {
        font-size: x-large;
    }
    
    .div_botao p {
        font-size: xx-small;
    }
    
    .div_botao img {
        width: 4%;
    }
    
    .div_botao .col-sm-3 {
        width: auto;
    }
    .div_botao .col-sm-8 {
        width: auto;
    }

    .cabecalho img {
        max-width: 100%;
    }
    
    .cabecalho {
        margin-top: 6px;
    }

    .lables {
        position: relative;
        top: 4px;
        font-size: 60%;
    }


}

@media (min-width: 781px){
    .cabecalho img{
        max-width: 30%;
    }
    
    .cabecalho p{
        font-size: xx-large;
    }
    
    .div_botao img{
        max-width: 2%;
    }
    
    .div_botao label{
        position: relative;
        top: 4px;
    }

}